apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: rest-app1
          image: techie019/cardsys:app1v1
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
